@import url('http://fonts.cdnfonts.com/css/general-sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background: linear-gradient(251.21deg, #FF971D 0%, #F24B03 100%);
}

.hero .navbar .nav-link {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.hero .navbar .nav-link:hover {
    color: rgba(255, 255, 255, 0.579);
}

.btn-header {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.img-btn-header {
    width: 24px;
    height: 24px;
}

body .hero .content .headline {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 112%;
    /* or 90px */

    text-transform: uppercase;

    color: #FFFFFF;
}

body .hero .content .button-header {
    margin-top: 30px;
}

body .hero .content .subheadline {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

body .hero .content .button-header .btn-started {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    border-radius: 8px;
    width: 150px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: white;
}

body .hero .content .button-header .btn-started:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.taggd__wrapper {
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.floating-image {
    width: 180px;
    box-sizing: border-box;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}



.img-hero {
    z-index: 99 !important;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 64px !important;
    height: 14px !important;
    border-radius: 80px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 56px !important;
    height: 56px !important;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    margin-top: 180%;
    background-color: #ffffff;
}

.carousel-control-next-icon {
    background-image: url(../images/arrow-left.svg) !important;
}